@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Merriweather+Sans&display=swap');

*{
    margin:0;
    padding:0;
}

header{
    margin:auto;
}

main{
    margin-top: 41px;
}

.titulo1{
    font-family: 'Kanit';
    color: white;
    margin-left: 13px;
}

.titulo2{
    font-family: 'Kanit';
    color: white;
    margin-left: 133px;
    margin-top: -36px;
}

#Nome{
    width: 301px;
    height: 32px;
    border-radius: 10px;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 15px;
}
.nome {
    margin-top: 24px;
    font-family: kanit;
}

#Sobrenome{
    width: 301px;
    height: 32px;
    border-radius: 10px;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 15px;
}
.sobrenome{
    margin-top: 8px;
    font-family: kanit;
}
#Senha{
    width: 301px;
    height: 32px;
    border-radius: 10px;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 15px;
}
.senha{
    margin-top: 7px;
    font-family: kanit;
}
#Email{
    width: 301px;
    height: 32px;
    border-radius: 10px;
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 15px;
}

.email{
    margin-top: 6px;
    font-family: kanit;
}

.fieldset {
    margin: auto;
    width: 414px;
    background-color: #00000010;
    border-radius: 15px;
    border: 2px solid #00000015;
    backdrop-filter: blur(10px);
    text-align: center;
}

.formulario{
    margin-top: 21px;
    font-family: kanit;
    font-weight: 600;
}

.aniversario{
    margin-top: 32px;
    margin-left: -94px;
    font-family: kanit;
}

#aniversario{
    font-family: kanit;
    background-color: #0000;
    border-radius: 2px;
    border-color: #a0a0a0;
    width: 100px;
    height: 29px;
    padding-left: 9px;
}

.botao{
    margin-top: 30px;
    padding: 9px
}

#botaoregistrar{
    height: 35px;
    width: 187px;
    font-family: 'Kanit';
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    border-color: #aaaaaa;
}
