@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Merriweather+Sans&display=swap');

*{
    margin:0;
    padding:0;
}

body {
    font-family: kanit;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 165%;
    background-position: top;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 100%;

}

#titulo1{
    font-size: 156%;
    margin-left: 10px;
    color: white;
}

#titulo2{
    font-size: 106%;
    margin-top: 9px;
    color: white;
}

.formulario-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.formulario {
    width: 38%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 326px;
    border: 2px solid #00000015;
    backdrop-filter: blur(4px);
}

.titulo-formulario{
    font-size: 137%;
    margin-top: 10%;
    
}

.form{
    width: 77%;
}

#nome{
    font-size: 90%;
}

#input-nome{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 5px;
    height: 15px;
    font-family: kanit;
    font-weight: 500;
}

#sobrenome{
    margin-top:10%;
    font-size: 90%;
}

#input-sobrenome{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 5px;
    height: 15px;
    font-family: kanit;
    font-weight: 500;
}

#senha{
    font-size: 90%;
}

#input-senha{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 5px;
    height: 15px;
}

#email{
    font-size:90%;
}

#input-email{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 5px;
    height: 15px;
    font-family: kanit;
    font-weight: 500;
}

#nascimento{
    padding-right: 4px;
    font-size: 90%;
}

#input-nascimento {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 1%;
    border-radius: 5px;
    height: 20px;
    font-family: kanit;
    font-weight: 500;
}

#botao {
    width: 44%;
    height: 23px;
    font-family: kanit;
    font-weight: 500;
}

.nascimento-container{
    display: flex;
    flex-direction: row;
    width: 115%;
    margin-left: -5%;
}
